/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  height: 400px;
  width: 500px;
  margin: 0 auto;
}

header > h1,main {
  width: 25%;
  margin: 5%  auto 5% auto;
}
ul{
  list-style: none;
}
button{
  width: 25%;
  margin-left: 40%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
